.elevation-2 {
    width: 40px;
    height: 20px;
    border-radius: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    opacity: 0.8;
    cursor: pointer;
}

.edit-form-btn {
    text-align: center;
    margin-bottom: 10px;
}

.txt-align-center {
    text-align: center;
}

.label-right {
    text-align: right;
    padding-top: 8px;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 700;
}

.box-size {
    width: 87%;
}

.check-left {
    padding-left: 20px;
    padding-top: 15px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-weight: bold;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    /* border-radius: 4px 4px 0 0 */
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px
}

.setting-form-btn {
    margin-right: 147px;
}

input.error {
    border-color: #f00 !important;
}

small.required {
    color: #f00;
}

.setting-tab-block.nav-tabs>li>a {
    color: #555;
}

.setting-save-btn {
    margin-right: 13%;
}

.system-nav {
    border-right: 1px solid #dee2e6;
}

.custom-nav-system-config .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #495057;
    background-color: #fff;
    border-radius: 0%;
    margin-right: -1px;
    border: 1px solid #dee2e6;
    border-right-color: transparent;
}

/*
.card-header .fa {
    transition: .3s transform ease-in-out;
  }
  .card-header .collapsed .fa {
    transform: rotate(90deg);
  }


/* filter box top new start*/

.created-main input {
    display: inline;
    width: 48%;
}

.filter-report input {
    display: inline;
    width: 45%;
}


.filter-main label {
    display: block;
    font-weight: 700 !important;
}

/*
mail popup
*/

.mail-popup-subject {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

/* filter box top new end */


/*
#################################################################
Admin grid css start
#################################################################
*/

.wrapper .content-header.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    margin-left: 250px;
    height: 55px;
    border: 1px solid #dee2e6;
    background: #f4f6f9;
}

table.table thead>tr>th.sorting_asc,
table.table thead>tr>th.sorting_desc,
table.table thead>tr>th.sorting,
table.table thead>tr>td.sorting_asc,
table.table thead>tr>td.sorting_desc,
table.table thead>tr>td.sorting {
    padding-right: 30px;
}

table.table thead>tr>th:active,
table.table thead>tr>td:active {
    outline: none;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}

table.table thead .sorting:before,
table.table thead .sorting:after,
table.table thead .sorting_asc:before,
table.table thead .sorting_asc:after,
table.table thead .sorting_desc:before,
table.table thead .sorting_desc:after,
table.table thead .sorting_asc_disabled:before,
table.table thead .sorting_asc_disabled:after,
table.table thead .sorting_desc_disabled:before,
table.table thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;
}

table.table thead .sorting:before,
table.table thead .sorting_asc:before,
table.table thead .sorting_desc:before,
table.table thead .sorting_asc_disabled:before,
table.table thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\2191";
}

table.table thead .sorting:after,
table.table thead .sorting_asc:after,
table.table thead .sorting_desc:after,
table.table thead .sorting_asc_disabled:after,
table.table thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\2193";
}

table.table thead .sorting_asc:before,
table.table thead .sorting_desc:after {
    opacity: 1;
}

table.table thead .sorting_asc_disabled:before,
table.table thead .sorting_desc_disabled:after {
    opacity: 0;
}

.pagination {
    margin: 0;
}

.pagination li {
    margin: 0 0 0 5px;
}

.pagination li input {
    text-align: center;
    width: 4.0rem;
    height: calc(2.10rem + 2px);
    margin-right: 8px;
}

.pagination li.disabled a.page-link {
    color: #dee2e6;
}

.pagination li.record_info {
    margin-left: 20px;
    padding-top: 6px;
}

.pagination li.page-field {
    width: auto;
    padding: 0 3px 0 0;
    display: flex;
    align-items: center;
}

.per_page {
    display: flex;
    padding: 0 0 0 38px;
    width: auto;
    align-items: center;
    float: right;
}

.per_page label {
    margin: 0px;
}

.perpage-select {
    margin: 0 5px;
    width: 75px !important;
}

/*
#################################################################
Admin grid css end
#################################################################
*/